body{
    background-color: #f0f0f0;
}

.status {
    display: flex;
    justify-content: space-between;
  }
  
  .card-box {
    margin: 10px;
    flex: 1;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left,
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left i,
  .right i {
    margin-right: 10px;
    margin-top: 5px;
    color: #797D84;
  }
  
  .left span {
    margin-left: 20px;
    color: #797D84;
  }
  
  .card {
    background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 10px 0px;
    padding: 10px;
  }
  
  .card .card-head .id {
    margin: 0;
    font-size: 0.8rem;
    color: gray;
    font-weight: 400;
  }
  
  .card .card-head h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 8px 0;
    line-height: 1.3;
  }
  
  .card .card-head .id2 {
    margin: 0px 8px;
    font-size: 0.8rem;
    color: #6B6F76;
    margin-top: 5px;
  }
  
  .card .card-head .last-line i {
    padding: 1px 0px;
    font-size: 1rem;
    color: #6B6F76;
    margin-top: 5px;
  }
  
  .card .card-head .last-line .info {
    border: 1px solid rgba(224, 224, 224, 0.749);
    border-radius: 5px;
    padding: 5px 4px 2px 4px;
    margin: 0;
  }
  
  .card .card-head .last-line {
    display: flex;
    align-items: center;
  }
  
  .card .card-head .last-line .line2 {
    display: flex;
    border: 1px solid rgba(224, 224, 224, 0.749);
    border-radius: 5px;
    padding: 1px 5px;
    margin-left: 15px;
  }
  .card-box .card-header .left .progress-color{
    color: rgb(255, 221, 0);
  }
  .card-box .card-header .left .done-color{
    color: rgb(53, 53, 163);
  }
  .card .card-head .last-line .urgent{
    color: rgb(255, 93, 93);
  }